#numeros {
    display: flex;
}

#numeros div {
    padding-left: 5px;
    padding-right: 5px;
    display: table-cell;
    font-family: monospace;
    text-align: right;
    border-style: groove;
    border-width: thin;
    border-color: transparent;
    height: 15px;
}

#numeros div.comparsion {
    border-color: black;
    border-style: dotted;
}

#numeros div.swap,
#numeros div.set {
    border-color: black;
    border-style: dashed;
}